# Ignore build output
bin/
obj/

# Ignore NuGet packages
/packages/

# Ignore Visual Studio files
.vs/
*.suo
*.user
*.userprefs
*.vscode

# Ignore build artifacts
*.dll
*.exe
*.pdb
*.cache
*.log
*.bak
*.tmp

# Ignore publish output
wwwroot/

# Ignore node_modules folder
node_modules/

# Ignore npm debug log
npm-debug.log

# Ignore Visual Studio Code settings
.vscode/

*.db
*.db-*