@page "/cart"
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<p>Current count: @currentCount</p>
<button @onclick='IncrementCount'>Increment</button>


@code {
    private int? currentCount = null;
    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentCount = await LocalStorage.GetItemAsync<int>("count");
            StateHasChanged();
        }
    }

    private async Task IncrementCount()
    {
        Console.WriteLine("Incrementing count");
        currentCount++;
        
        await LocalStorage.SetItemAsync("count", currentCount);
    }
}