@page "/"
@inject Models.ILoginRepository LoginRepository

<PageTitle>Home</PageTitle>

<h1>Welcome to the Store</h1>
@code {
    private string? user;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await LoginRepository.GetLoggedInUserAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            user = null;
        }
    }
}
