@inherits CartMetaPage
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@if (cartItemCount != null && cartItemCount > 0)
{
    <a href="cart" class="btn btn-primary">Cart <span class="badge bg-secondary">@cartItemCount</span></a>
}
else
{
    <a href="cart" class="btn btn-primary">Cart</a>
}


@code
{
    private int? cartItemCount = 0;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        cartItemCount = await GetTotalItemsInCart();

        StateHasChanged();  
    }
}