@inherits CartMetaPage
@rendermode InteractiveServer


<div class="card m-5 w-25">
    <div class="card-img">
        <img src="@Product.ImageUrl" class="card-img" alt="Product Image: @Product.ProductDisplayName" width="150">
    </div>
    <div class="card-body">
        <h5 class="card-title h-50 mb-5">@Product.ProductDisplayName</h5>
        <!-- Price is in cents -->
        <p class="card-text">$@((decimal)Product.Price / 100)</p>
    </div>
    <div class="card-footer p-10 mt-10 mb-10" align="center">
        <a href="/product/@Product.Id" class="btn btn-secondary mb-5">View Product</a>
        <input type="number" class="form-control" @bind="AdditionalNumberInCart"/>
        <p>Number in cart: @NumberInCart</p>
        <button class="btn btn-primary me-5" @onclick="AddToCart">Add to Cart</button>
        @if (NumberInCart > 0)
        {
            <button class="btn btn-danger" @onclick="RemoveFromCart">Remove from Cart</button>
        }
        else
        {
            <button class="btn btn-danger" disabled>Remove from Cart</button>
        }
    </div>
</div> 


@code {
    [Parameter] public required Product Product { get; set; }

    private int NumberInCart = 0;

    private int AdditionalNumberInCart = 1;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        NumberInCart = await QuantityInCart(Product.Id);

        if (NumberInCart > 0)
        {
            StateHasChanged();
        }
    }

    private async Task AddToCart()
    {
        await AddItemToCart(Product.Id, AdditionalNumberInCart);
        NumberInCart += AdditionalNumberInCart;
        AdditionalNumberInCart = 1;
    }

    private async Task RemoveFromCart()
    {
        await RemoveItemFromCart(Product.Id);
        NumberInCart = 0;
    }
}