@using Bunit;
@inherits TestContext
@using Xunit;
@code
{
  [Fact]
  public void HelloWorldComponentRendersCorrectly()
  {
    // Act
    var cut = Render(@<Home />);

    // Assert
    cut.MarkupMatches(@<h1>Hello, world!</h1>);
  }
}