@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
        
        <main>
            <div class="top-row px-4">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                <CartWidget />
                <a href="https://secu74010-ehharvey-product-images.nyc3.cdn.digitaloceanspaces.com/Final_Project__E-Commerce_Prototype_Documentations_FINAL.pdf" class="btn btn-primary">Privacy Policy</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.MiddleCenter" />